html {
  height: 100%;
  width: 100%;
}
form
{
  color: yellow;
  font-family: verdana;
}
p
{
  color: blue;
  font-family: verdana;
}
ol
{
  color: blue;
  font-family: verdana
}
ul
{
  color: blue;
  font-family: verdana
}
h1
{
  color: red;
  font-family: "arial";
}
li
{
  color: yellow;
  font-family: verdana
}
